# fly.toml app configuration file generated for wrytebot on 2025-10-31T21:13:27Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'wrytebot'
primary_region = 'fra'

[build]

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
